<div class="container">
  <%= render 'form' %>
  <br>
  <%= button_to "Bikes", '/stations', method: "get", id:"bikes" %>
  <%= button_to "Docks", '/stations', method: "get", id:"docks" %>
  <div id="test">
  </div>
</div>
<div id="map-canvas"></div>

<h1>start Location json</h1>
<%= @start_location_coords %>

<h1>end Location json</h1>
<%= @end_location_coords %>

<h1>directions json</h1>
<%= @direction_json %>

