<!DOCTYPE html>
<html>
<head>
  <title>DivvyMaps</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= favicon 'favicon.ico' %>

  <%= favicon 'favicon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

  <%= favicon 'touch-icon-iphone-retina-precomposed.png', :rel => 'apple-touch-icon', :type => 'image/png' %>



  <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-precomposed.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad-precomposed.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina-precomposed.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina-precomposed.png">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=0">
</head>
<body>
  <div id="main-container">
    <%= yield %>
  </div>
</body>
</html>
